{
    "bracketSpacing": true,
    "jsxBracketSameLine": true,
    "singleQuote": true,
    "trailingComma": "all",
    "endOfLine": "auto",
    "tabWidth": 4,
    "printWidth": 90,
    "semi": true
}
